services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:7
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "8081:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    depends_on:
      - postgres
    environment:
      - DATABASE_HOST=${APP_DB_HOST}
      - DATABASE_PORT=${APP_DB_PORT}
      - DATABASE_NAME=${POSTGRES_DB}
      - DATABASE_USER=${POSTGRES_USER}
      - DATABASE_PASSWORD=${POSTGRES_PW}
    volumes:
      - ./app:/usr/src/app   # development bind mount
    command: ["bash", "-c", "mvn -q -f /usr/src/app/pom.xml compile exec:java -Dexec.mainClass=com.example.library.Main"]
    ports:
      - "8080:8080"

volumes:
  db_data:
  pgadmin_data:
